<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.android.hinotes" android:versionCode="1"
	android:versionName="1.0.0">
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.DEVICE_POWER" />
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:debuggable="true">
		<activity android:name=".NotePadPlus" android:label="@string/app_name"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<action android:name="com.android.hinotes.Widget_ShowAllNotes" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="com.android.hinotes.AddNoteActivity"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/plain" />
			</intent-filter>
		</activity>
		<activity android:name=".NoteUserDefViewActivity"
			android:screenOrientation="portrait" />
		<activity android:name=".EditNoteActivity"
			android:screenOrientation="portrait" />
		<activity android:name=".EndDateActivity"
			android:screenOrientation="portrait" />
		<activity android:name=".NotifyDateActivity"
			android:screenOrientation="portrait" />
		<activity android:name=".SysSettingActivity"
			android:screenOrientation="portrait" />
		<activity android:name=".ColorPreferencePicker"
			android:screenOrientation="portrait" />
		<activity android:name=".SetTagClrActivity" android:theme="@android:style/Theme.Translucent"
			android:screenOrientation="portrait" />
		<activity android:name=".ChgPwdDlgActivity" android:label="@string/note_lock_dlg_title"
			android:theme="@android:style/Theme.Dialog"
			android:screenOrientation="portrait" />
		<activity android:name=".ClearPwdDlgActivity" android:label="@string/note_lock_clear_title"
			android:theme="@android:style/Theme.Dialog"
			android:screenOrientation="portrait" />
		<activity android:name=".PwdDlgActivity" android:label="@string/note_lock_clear_title"
			android:theme="@android:style/Theme.Dialog"
			android:screenOrientation="portrait" />
		<activity android:name=".NotificationPwdDlgActivity"
			android:label="@string/app_name" android:theme="@android:style/Theme.Dialog"
			android:screenOrientation="portrait" />
		<activity android:name=".FilterNoteByTagActivity"
			android:label="@string/filter_note_byclr_title" android:theme="@style/Theme.AnimTransparent"
			android:screenOrientation="portrait" />


		<activity android:name=".NotifyActivity" android:label="@string/note_notify_title"
			android:screenOrientation="portrait" />

		<receiver android:name=".NotePadWidgetProvider"
			android:label="@string/widgetname_4x2">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@layout/notepad_widget_provider" />
		</receiver>

		<receiver android:name=".NotePad1X1WidgetProvider"
			android:label="@string/widgetname_1x1">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@layout/notepad_widget_provider_1x1" />
		</receiver>

		<activity android:name=".NotePad1X1WidgetHelper"
			android:theme="@style/Theme.Transparent" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
			</intent-filter>
		</activity>


		<receiver android:name=".ClearNoteAlarmReceiver">
			<intent-filter>
				<action android:name="com.android.hinotes.ClearNote" />
			</intent-filter>
		</receiver>

		<receiver android:name=".NotifyAlarmReceiver">
			<intent-filter>
				<action android:name="com.android.hinotes.NotifyALARM_ALERT" />
				<action android:name="com.android.hinotes.NotifyALARM_KILL" />
			</intent-filter>
		</receiver>

		<receiver android:name=".AlarmInitReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>

		<service android:name=".ScreenOrientService">
			<intent-filter>
				<action android:name="com.android.hinotes.ScreenOrient" />
				<category android:name="android.intent.category.default" />
			</intent-filter>
		</service>

		<service android:name=".PlayAlarmService">
			<intent-filter>
				<action android:name="com.android.hinotes.NotifyRing" />
				<category android:name="android.intent.category.default" />
			</intent-filter>
		</service>

	</application>

</manifest> 